--
-- PostgreSQL database dump
--

\restrict erRbRhmNZu2FpnpzGiU5NBquZqm3P1eGTylS4KsQJTeOooH4KUXGGpDqoG50oJU

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.accounts_id_seq OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id bigint DEFAULT nextval('public.accounts_id_seq'::regclass) NOT NULL,
    account_holder_email character varying(255),
    account_holder_name character varying(255),
    account_holder_phone character varying(255),
    account_number character varying(255) NOT NULL,
    account_type character varying(255) NOT NULL,
    balance numeric(38,2) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    national_id character varying(255),
    status boolean NOT NULL,
    updated_date timestamp(6) without time zone,
    created_by bigint NOT NULL,
    CONSTRAINT accounts_account_type_check CHECK (((account_type)::text = ANY (ARRAY[('SAVINGS'::character varying)::text, ('CHECKING'::character varying)::text, ('BUSINESS'::character varying)::text])))
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: feature_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.feature_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.feature_permissions_id_seq OWNER TO postgres;

--
-- Name: feature_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feature_permissions (
    id bigint DEFAULT nextval('public.feature_permissions_id_seq'::regclass) NOT NULL,
    status boolean,
    feature_id bigint,
    permission_id bigint
);


ALTER TABLE public.feature_permissions OWNER TO postgres;

--
-- Name: features_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.features_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.features_id_seq OWNER TO postgres;

--
-- Name: features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.features (
    id bigint DEFAULT nextval('public.features_id_seq'::regclass) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    icon character varying(255),
    menu_order integer,
    parent_id bigint,
    router_link character varying(255)[],
    status boolean,
    title character varying(255),
    updated_date timestamp(6) without time zone
);


ALTER TABLE public.features OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_id_seq OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id bigint DEFAULT nextval('public.permissions_id_seq'::regclass) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    function_name character varying(255),
    function_order integer,
    status boolean,
    updated_date timestamp(6) without time zone
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: role_feature_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_feature_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_feature_id_seq OWNER TO postgres;

--
-- Name: role_feature; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_feature (
    id bigint DEFAULT nextval('public.role_feature_id_seq'::regclass) NOT NULL,
    status boolean,
    feature_id bigint,
    role_id bigint
);


ALTER TABLE public.role_feature OWNER TO postgres;

--
-- Name: role_feature_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_feature_permission (
    id bigint NOT NULL,
    feature_id bigint NOT NULL,
    permission_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.role_feature_permission OWNER TO postgres;

--
-- Name: role_feature_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.role_feature_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.role_feature_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_seq OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint DEFAULT nextval('public.roles_seq'::regclass) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    description character varying(255),
    name character varying(255),
    status boolean,
    updated_date timestamp(6) without time zone
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transactions_id_seq OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id bigint DEFAULT nextval('public.transactions_id_seq'::regclass) NOT NULL,
    amount numeric(19,4) NOT NULL,
    description character varying(255),
    "timestamp" timestamp(6) without time zone NOT NULL,
    transaction_id character varying(255) NOT NULL,
    transaction_status character varying(255) NOT NULL,
    transaction_type character varying(255) NOT NULL,
    from_account_id bigint,
    processed_by_id bigint,
    to_account_id bigint,
    CONSTRAINT transactions_transaction_status_check CHECK (((transaction_status)::text = ANY (ARRAY[('PENDING'::character varying)::text, ('COMMITTED'::character varying)::text, ('FAILED'::character varying)::text, ('ROLLED_BACK'::character varying)::text]))),
    CONSTRAINT transactions_transaction_type_check CHECK (((transaction_type)::text = ANY (ARRAY[('TRANSFER'::character varying)::text, ('DEPOSIT'::character varying)::text, ('WITHDRAW'::character varying)::text])))
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: user_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_roles_id_seq OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id bigint DEFAULT nextval('public.user_roles_id_seq'::regclass) NOT NULL,
    status boolean,
    role_id bigint,
    user_id bigint
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint DEFAULT nextval('public.users_id_seq'::regclass) NOT NULL,
    admin boolean,
    created_date timestamp(6) without time zone NOT NULL,
    email character varying(255) NOT NULL,
    last_name character varying(255),
    first_name character varying(255),
    password character varying(255) NOT NULL,
    phone character varying(255),
    status boolean,
    updated_date timestamp(6) without time zone,
    user_name character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts (id, account_holder_email, account_holder_name, account_holder_phone, account_number, account_type, balance, created_date, national_id, status, updated_date, created_by) FROM stdin;
2	rotanak@gmail.com	ROTHANAK	0709809000	2497909593	SAVINGS	858.00	2025-09-19 15:21:02.930032	\N	t	2025-09-29 15:37:41.333409	1
1	votha7777@gmail.com	SOK VOTHA	015600022	9294275253	SAVINGS	300.00	2025-09-15 14:26:51.291256	3890823	t	2025-09-29 15:37:41.344057	1
\.


--
-- Data for Name: feature_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feature_permissions (id, status, feature_id, permission_id) FROM stdin;
1	t	1	2
2	t	1	1
3	t	1	4
4	t	1	3
5	t	1	5
6	t	2	1
7	t	2	2
8	t	2	3
9	t	2	4
10	t	2	5
11	t	3	1
12	t	3	2
13	t	3	3
14	t	3	4
17	t	4	2
18	t	4	1
19	t	4	4
20	t	4	3
21	t	6	1
22	t	7	1
23	t	8	1
24	t	9	2
25	t	3	5
\.


--
-- Data for Name: features; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permissions (id, created_date, function_name, function_order, status, updated_date) FROM stdin;
1	2025-09-12 17:06:50.211713	Create	1	t	2025-09-12 17:06:50.211713
2	2025-09-12 17:06:57.504835	View	2	t	2025-09-12 17:06:57.504835
3	2025-09-12 17:07:05.587372	Update	3	t	2025-09-12 17:07:05.587372
4	2025-09-12 17:07:13.971475	Delete	4	t	2025-09-12 17:07:13.971475
5	2025-09-12 17:07:13.971475	Apply	5	t	2025-09-12 17:07:13.971475
\.


--
-- Data for Name: role_feature; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role_feature (id, status, feature_id, role_id) FROM stdin;
57	t	4	4
58	t	1	4
61	t	2	3
62	t	3	3
63	t	1	3
64	t	5	2
65	t	6	2
66	t	7	2
67	t	8	2
68	t	9	2
\.


--
-- Data for Name: role_feature_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role_feature_permission (id, feature_id, permission_id, role_id) FROM stdin;
20	4	4	4
21	4	1	4
22	4	2	4
23	4	3	4
52	7	1	2
53	6	1	2
54	9	2	2
55	8	1	2
56	2	4	3
57	2	1	3
58	2	2	3
59	2	5	3
60	2	3	3
61	3	4	3
62	3	1	3
63	3	2	3
64	3	3	3
65	3	5	3
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, created_date, description, name, status, updated_date) FROM stdin;
1	2025-09-12 17:13:28.167379	Role for super admin	Super Admin	t	2025-09-12 17:13:28.167379
2	2025-09-12 17:13:36.698434	Role for manager	MANAGER	t	2025-09-12 17:13:36.698434
3	2025-09-12 17:13:36.698434	ADMIN role 	ADMIN	t	2025-09-12 17:13:36.698434
4	2025-09-12 17:13:36.698434	User role	USER	t	2025-09-12 17:13:36.698434
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (id, status, role_id, user_id) FROM stdin;
1	t	1	1
2	t	4	3
3	t	3	4
4	t	2	5
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_id_seq', 2, true);


--
-- Name: feature_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.feature_permissions_id_seq', 25, true);


--
-- Name: features_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.features_id_seq', 9, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissions_id_seq', 4, true);


--
-- Name: role_feature_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_feature_id_seq', 68, true);


--
-- Name: role_feature_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_feature_permission_id_seq', 65, true);


--
-- Name: roles_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_seq', 51, true);


--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_id_seq', 935, true);


--
-- Name: user_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_roles_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: feature_permissions feature_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature_permissions
    ADD CONSTRAINT feature_permissions_pkey PRIMARY KEY (id);


--
-- Name: features features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT features_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_feature_permission role_feature_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature_permission
    ADD CONSTRAINT role_feature_permission_pkey PRIMARY KEY (id);


--
-- Name: role_feature role_feature_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature
    ADD CONSTRAINT role_feature_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: accounts uk6kplolsdtr3slnvx97xsy2kc8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT uk6kplolsdtr3slnvx97xsy2kc8 UNIQUE (account_number);


--
-- Name: transactions uk6plyfbm3wy6ds7hongoml5xbk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT uk6plyfbm3wy6ds7hongoml5xbk UNIQUE (transaction_id);


--
-- Name: users ukdu5v5sr43g5bfnji4vb8hg5s3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukdu5v5sr43g5bfnji4vb8hg5s3 UNIQUE (phone);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: transactions fk50ghjjj98n790o6xikrs6d13r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT fk50ghjjj98n790o6xikrs6d13r FOREIGN KEY (processed_by_id) REFERENCES public.users(id);


--
-- Name: accounts fk5sgyirkr3gauvf052hm7x5jix; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT fk5sgyirkr3gauvf052hm7x5jix FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: transactions fk7i7kboanveneetad7jyhbr0a7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT fk7i7kboanveneetad7jyhbr0a7 FOREIGN KEY (from_account_id) REFERENCES public.accounts(id);


--
-- Name: role_feature fk8njwcqj06muv415hamcupl4p9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature
    ADD CONSTRAINT fk8njwcqj06muv415hamcupl4p9 FOREIGN KEY (feature_id) REFERENCES public.features(id);


--
-- Name: role_feature_permission fk93b6jq93gldgwn0nsg62au19m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature_permission
    ADD CONSTRAINT fk93b6jq93gldgwn0nsg62au19m FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_feature_permission fk9k63knq9q0n8x0vchprjne9tv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature_permission
    ADD CONSTRAINT fk9k63knq9q0n8x0vchprjne9tv FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles fkh8ciramu9cc9q3qcqiv4ue8a6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fkh8ciramu9cc9q3qcqiv4ue8a6 FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles fkhfh9dx7w3ubf1co1vdev94g3f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fkhfh9dx7w3ubf1co1vdev94g3f FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: role_feature_permission fkikliaqts2u7e5f910os9je77i; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature_permission
    ADD CONSTRAINT fkikliaqts2u7e5f910os9je77i FOREIGN KEY (feature_id) REFERENCES public.features(id);


--
-- Name: feature_permissions fkmjpyi3ke3m877d3punkc0d93y; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature_permissions
    ADD CONSTRAINT fkmjpyi3ke3m877d3punkc0d93y FOREIGN KEY (feature_id) REFERENCES public.features(id);


--
-- Name: feature_permissions fkpoaamrboluafhf5cqcg8bocmv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature_permissions
    ADD CONSTRAINT fkpoaamrboluafhf5cqcg8bocmv FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: transactions fkra0an432c5wjo76mojluk0v28; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT fkra0an432c5wjo76mojluk0v28 FOREIGN KEY (to_account_id) REFERENCES public.accounts(id);


--
-- Name: role_feature fksbu1gppsx1cuy7ip0yb2b92id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_feature
    ADD CONSTRAINT fksbu1gppsx1cuy7ip0yb2b92id FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict erRbRhmNZu2FpnpzGiU5NBquZqm3P1eGTylS4KsQJTeOooH4KUXGGpDqoG50oJU

